@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  font-family:"Roboto",sans-serif;
  background:#f0f2f7;
  overflow-x: hidden;
}
.quiz-name{
    margin-top: 80px;
 font-weight: 700;
 color: #181b38;
 font-size: 70px;
 
}
.quiz-para{
    margin-top: 20px;
   
    font-size: 20px;
    font-weight: 500;
  }
  .card-box:hover{
    box-shadow: rgba(25, 26, 26, 0.2) 0 8px 24px;
}
.icon-span{
  width: 2.5rem;
  height: 2.5rem;
  background-color: #687ac4;
  color: #fff
}
.options {
  padding: 10px;
  order: 3;
}

.controls {
  padding: 10px;
  order: 4;
}
.label-font-size{
  /* font-size: 25px; */
  /* margin-left: ; */
  font-size: 1.5rem;
}
.input-size{
  /* font-size: 25px; */
  font-size: 1.5rem;
}
.check-options{
  margin-left: 0.8rem;
}

/* coding Ninjas Css */
.score {
  font-size: large;
  font-weight: bold;
}

#user-score {
  color: #EF9614;
}

#total-score {
  color: #F6490F
}
.options {
  padding: 10px;
  order: 3;
}

.controls {
  padding: 10px;
  order: 4;
}
.hide {
  display: none;
}