* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body {
  font-family:"Roboto",sans-serif;
  background:#f0f2f7;
  overflow-x: hidden;
}
.quiz-name{
    margin-top: 80px;
 font-weight: 700;
 color: #181b38;
 font-size: 70px;
 
}
.quiz-para{
    margin-top: 20px;
   
    font-size: 20px;
    font-weight: 500;
  }
  .card-box:hover{
    box-shadow: rgba(25, 26, 26, 0.2) 0 8px 24px;
}
 
